body{background-image: url(image/brat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* opcional: imagem fixa no scroll */
    margin: 0;
    padding: 0;
    font-family: sans-serif;  }

.container{ background-color: rgb(245, 245, 245);
    display: flex;
    justify-content:end ;
    
    padding: 20px 20px 20px 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.356);
    max-width: 1000px;
}
 
.verme{
  width: 200px;
  background-color: rgb(223, 18, 18);
  margin: 10px;
  padding: 40px 150px 40px 150px;
  border-width: 100px;
  color: white;
  border-radius: 10px;
  text-align: center;
 
}

.azul{
  width: 200px;
  background-color: rgb(67, 120, 163);
  margin: 10px;
  padding: 40px 150px 40px 150px;
  color: white;
  border-radius: 10px;
  text-align: center;
 
}

.escuro{
  width: 200px;
  background-color: rgb(7, 30, 236);
  margin: 10px;
  padding: 40px 150px 40px 150px;
  color: white;
  border-radius: 10px; 
  text-align: center;

}